     .container {
            width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 10px;
        }

        .left {
            background-color: red;
        }

        .right {
            background-color: blue;
        }
        .horizontal-center {
            margin: 0 auto;
        }
        .grid1 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }